.userInfo {
  display: flex;
  border-radius: 3px;
  background: #3399ff;
}
.header_presentazione {
  padding: 20px;
  color: #fbfbfb;
}
.UserProfilePropertiesList{
  padding: 20px;
  color: #fbfbfb;
  font-size: large;
  margin: 7px;
}
